<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".apps.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardGameManager"
        tools:targetApi="31">

        <activity
            android:name=".common.ui.base.BaseActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".features.twentynine.TwentyNineActivity"
            android:exported="false" />

        <activity
            android:name=".features.spades.SpadesActivity"
            android:exported="false" />

        <activity
            android:name=".features.ninecard.NineCardActivity"
            android:exported="false" />

        <activity
            android:name=".features.hearts.HeartsActivity"
            android:exported="false" />

        <activity
            android:name=".features.hazari.HazariActivity"
            android:exported="false" />

        <activity
            android:name=".features.bnr.RestoreActivity"
            android:exported="false" />

        <activity
            android:name=".features.bnr.BackupActivity"
            android:exported="false" />

        <activity
            android:name=".features.home.HomeScreenFragment"
            android:exported="false" />

    </application>

</manifest>